.body {

    background-color: white;
    
}

.head {

    color: blue;
    font-weight: 100;
    
}

.about {
    color: rgb(243, 241, 241);
}

.ach {
    color: black;
}


p {
    color: black;
}

#contact-us {
    color: blue;
}

#sub-cl {
    color: brown;
}

img[src^="fullsd.jpg"] {

    border: 10px solid black;
}

h3[class~=back-gnd] {

    background: black;
}

.ribbon {
    display: flex;
    justify-content: end;
    color: black;
    padding: 5%   20px;
}

.link {
    display:flex;
    gap: 20px;
    color: black;
    font-family: sans-serif;
    
}

a:link {
    text-decoration: none;
    
    
}
a {
    color: black;
}

button {
    background-color: red;
    color: white;
    border: none;
    height: 30px;
}

